@use "nullstyle.scss" as *;
@use "variables.scss" as *;
@use "mixin.scss" as *;


body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


.container {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
}


.search {
  max-width: 555px;
  width: 100%;
  min-height: 58px;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
  border-radius: 15px;
  display: flex;

  &__btn {
    @include wh(58px);
    background-color: $black;
    border-radius: 0px 15px 15px 0px;
    color: $white;
    transition: background-color 0.2s;

    &:hover {
      background-color: $hover-black;
    }
  }

  &__input {
    max-width: 100%;
    width: 100%;
    background-color: $white;
    border-radius: 15px 0 0 15px;
    padding: 0 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $pale-black;
  }
}


.info-display {
  max-width: 555px;
  width: 100%;
  padding: 24px;
  background: $white;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
  border-radius: 15px;
  @include flex-column-align-centered;
  align-items: stretch;
  gap: 24px;

  &__property {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1.45833px;
    text-transform: uppercase;
    color: rgba($pale-black, 0.5);
    margin-bottom: 7px;
  }

  &__value {
    display: block;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.178571px;
    color: $pale-black;
  }
}


@media screen and (min-width: $desktop) {
  .info-display {
    max-width: 1110px;
    padding: 36px 0;
    flex-direction: row;
    gap: 0;

    &__row {
      padding: 0 32px;
      max-width: 278px;
      width: 100%;
      position: relative;

      &:not(:last-child)::after {
        content: ' ';
        position: absolute;
        width: 1px;
        height: 75px;
        background-color: rgba($pale-black, 0.15);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    &__property {
      font-size: 12px;
      line-height: 14px;
      text-align: start;
      letter-spacing: 1.75px;
      margin-bottom: 13px;
    }

    &__value {
      font-size: 26px;
      line-height: 30px;
      text-align: start;
      letter-spacing: -0.232143px;
    }
  }

}


.location {

  &__head {
    padding: 24px 24px 157px;
    background-image: url('@img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  &__title {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: -0.232143px;
    color: $white;
    margin-bottom: 29px;
    text-align: center;
  }

  &__search {
    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__info {
    position: absolute;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);

  }

  &__map {
    height: 100%;
  }
}


@media screen and (min-width: $desktop) {
  .location {

    &__head {
      padding: 33px 0 128px;
    }

    &__title {
      font-size: 32px;
      line-height: 0.94;
      letter-spacing: -0.285714px;
      margin-bottom: 31px;

    }

    &__search {
      margin: 0 auto;
      margin-bottom: 48px;
    }

    &__info {
      position: absolute;
      top: 200px;

    }
  }
}